@charset "utf-8";

/** Clear **/
.clear {clear:both !important;} 
.clearfix::after {content:''; display:block; clear:both;} 

/** Float **/
.float-left {float:left !important;} 
.float-right {float:right !important;} 

/** Text Align **/
.text-left {text-align:left !important;} 
.text-right {text-align:right !important;} 
.text-center {text-align:center !important;} 

/** Margin **/
.m-0 {margin:0px !important;} 
.m-5 {margin:5px !important;} 
.m-10 {margin:10px !important;} 
.m-15 {margin:15px !important;} 
.m-20 {margin:20px !important;} 
.m-25 {margin:25px !important;} 
.m-30 {margin:30px !important;} 
.m-35 {margin:35px !important;} 
.m-40 {margin:40px !important;} 
.m-45 {margin:45px !important;} 
.m-50 {margin:50px !important;} 
.m-auto {margin:auto !important;} 

.mt-0 {margin-top:0px !important;} 
.mt-5 {margin-top:5px !important;} 
.mt-10 {margin-top:10px !important;} 
.mt-15 {margin-top:15px !important;} 
.mt-20 {margin-top:20px !important;} 
.mt-25 {margin-top:25px !important;} 
.mt-30 {margin-top:30px !important;} 
.mt-35 {margin-top:35px !important;} 
.mt-40 {margin-top:40px !important;} 
.mt-45 {margin-top:45px !important;} 
.mt-50 {margin-top:50px !important;} 
.mt-auto {margin-top:auto !important;} 

.ml-0 {margin-left:0px !important;} 
.ml-5 {margin-left:5px !important;} 
.ml-10 {margin-left:10px !important;} 
.ml-15 {margin-left:15px !important;} 
.ml-20 {margin-left:20px !important;} 
.ml-25 {margin-left:25px !important;} 
.ml-30 {margin-left:30px !important;} 
.ml-35 {margin-left:35px !important;} 
.ml-40 {margin-left:40px !important;} 
.ml-45 {margin-left:45px !important;} 
.ml-50 {margin-left:50px !important;} 
.ml-auto {margin-left:auto !important;} 

.mb-0 {margin-bottom:0px !important;} 
.mb-5 {margin-bottom:5px !important;} 
.mb-10 {margin-bottom:10px !important;} 
.mb-15 {margin-bottom:15px !important;} 
.mb-20 {margin-bottom:20px !important;} 
.mb-25 {margin-bottom:25px !important;} 
.mb-30 {margin-bottom:30px !important;} 
.mb-35 {margin-bottom:35px !important;} 
.mb-40 {margin-bottom:40px !important;} 
.mb-45 {margin-bottom:45px !important;} 
.mb-50 {margin-bottom:50px !important;} 
.mb-auto {margin-bottom:auto !important;} 

.mr-0 {margin-right:0px !important;} 
.mr-5 {margin-right:5px !important;} 
.mr-10 {margin-right:10px !important;} 
.mr-15 {margin-right:15px !important;} 
.mr-20 {margin-right:20px !important;} 
.mr-25 {margin-right:25px !important;} 
.mr-30 {margin-right:30px !important;} 
.mr-35 {margin-right:35px !important;} 
.mr-40 {margin-right:40px !important;} 
.mr-45 {margin-right:45px !important;} 
.mr-50 {margin-right:50px !important;} 
.mr-auto {margin-right:auto !important;} 

/** Padding **/
.p-0 {padding:0px !important;} 
.p-5 {padding:5px !important;} 
.p-10 {padding:10px !important;} 
.p-15 {padding:15px !important;} 
.p-20 {padding:20px !important;} 
.p-25 {padding:25px !important;} 
.p-30 {padding:30px !important;} 
.p-35 {padding:35px !important;} 
.p-40 {padding:40px !important;} 
.p-45 {padding:45px !important;} 
.p-50 {padding:50px !important;} 

.pt-0 {padding-top:0px !important;} 
.pt-5 {padding-top:5px !important;} 
.pt-10 {padding-top:10px !important;} 
.pt-15 {padding-top:15px !important;} 
.pt-20 {padding-top:20px !important;} 
.pt-25 {padding-top:25px !important;} 
.pt-30 {padding-top:30px !important;} 
.pt-35 {padding-top:35px !important;} 
.pt-40 {padding-top:40px !important;} 
.pt-45 {padding-top:45px !important;} 
.pt-50 {padding-top:50px !important;} 

.pl-0 {padding-left:0px !important;} 
.pl-5 {padding-left:5px !important;} 
.pl-10 {padding-left:10px !important;} 
.pl-15 {padding-left:15px !important;} 
.pl-20 {padding-left:20px !important;} 
.pl-25 {padding-left:25px !important;} 
.pl-30 {padding-left:30px !important;} 
.pl-35 {padding-left:35px !important;} 
.pl-40 {padding-left:40px !important;} 
.pl-45 {padding-left:45px !important;} 
.pl-50 {padding-left:50px !important;} 

.pb-0 {padding-bottom:0px !important;} 
.pb-5 {padding-bottom:5px !important;} 
.pb-10 {padding-bottom:10px !important;} 
.pb-15 {padding-bottom:15px !important;} 
.pb-20 {padding-bottom:20px !important;} 
.pb-25 {padding-bottom:25px !important;} 
.pb-30 {padding-bottom:30px !important;} 
.pb-35 {padding-bottom:35px !important;} 
.pb-40 {padding-bottom:40px !important;} 
.pb-45 {padding-bottom:45px !important;} 
.pb-50 {padding-bottom:50px !important;} 

.pr-0 {padding-right:0px !important;} 
.pr-5 {padding-right:5px !important;} 
.pr-10 {padding-right:10px !important;} 
.pr-15 {padding-right:15px !important;} 
.pr-20 {padding-right:20px !important;} 
.pr-25 {padding-right:25px !important;} 
.pr-30 {padding-right:30px !important;} 
.pr-35 {padding-right:35px !important;} 
.pr-40 {padding-right:40px !important;} 
.pr-45 {padding-right:45px !important;} 
.pr-50 {padding-right:50px !important;} 

/** Width **/
.w-0 {width:0 !important;} 
.w-10 {width:10px !important;} 
.w-20 {width:20px !important;} 
.w-30 {width:30px !important;} 
.w-40 {width:40px !important;} 
.w-50 {width:50px !important;} 
.w-60 {width:60px !important;} 
.w-70 {width:70px !important;} 
.w-80 {width:80px !important;} 
.w-90 {width:90px !important;} 
.w-100 {width:100px !important;} 
.w-200 {width:200px !important;} 
.w-300 {width:300px !important;} 
.w-400 {width:400px !important;} 
.w-500 {width:500px !important;} 
.w-full {width:100% !important;} 
.w-auto {width:auto !important;} 

.wp-10 {width:10% !important;} 
.wp-20 {width:20% !important;} 
.wp-30 {width:30% !important;} 
.wp-40 {width:40% !important;} 
.wp-50 {width:50% !important;} 
.wp-60 {width:60% !important;} 
.wp-70 {width:70% !important;} 
.wp-80 {width:80% !important;} 
.wp-90 {width:90% !important;} 
.wp-100 {width:100% !important;} 
.wp-200 {width:200% !important;} 
.wp-300 {width:300% !important;} 
.wp-400 {width:400% !important;} 
.wp-500 {width:500% !important;} 

/** Height **/
.h-0 {height:0 !important;} 
.h-10 {height:10px !important;} 
.h-20 {height:20px !important;} 
.h-30 {height:30px !important;} 
.h-40 {height:40px !important;} 
.h-50 {height:50px !important;} 
.h-60 {height:60px !important;} 
.h-70 {height:70px !important;} 
.h-80 {height:80px !important;} 
.h-90 {height:90px !important;} 
.h-100 {height:100px !important;} 
.h-200 {height:200px !important;} 
.h-300 {height:300px !important;} 
.h-400 {height:400px !important;} 
.h-500 {height:500px !important;} 
.h-full {height:100% !important;} 
.h-auto {height:auto !important;} 

/** Row **/
.col-1 {width:100% !important;}
.col-2 {width:50% !important;}
.col-3 {width:33.333% !important;}
.col-4 {width:25% !important;}
.col-5 {width:20% !important;}
.col-6 {width:16.666% !important;}
.col-7 {width:14.285% !important;}
.col-8 {width:12.5% !important;}
.col-9 {width:11.111% !important;}
.col-10 {width:10% !important;}

/** Font Weight **/
.font-100 {font-weight:100 !important;} 
.font-200 {font-weight:200 !important;} 
.font-300 {font-weight:300 !important;} 
.font-400 {font-weight:400 !important;} 
.font-500 {font-weight:500 !important;} 
.font-600 {font-weight:600 !important;} 
.font-700 {font-weight:700 !important;} 
.font-800 {font-weight:800 !important;} 
.font-900 {font-weight:900 !important;} 
.font-bold {font-weight:bold !important;} 

/** Font Size **/
.font-size-10 {font-size:10px !important;} 
.font-size-11 {font-size:11px !important;} 
.font-size-12 {font-size:12px !important;} 
.font-size-13 {font-size:13px !important;} 
.font-size-14 {font-size:14px !important;} 
.font-size-15 {font-size:15px !important;} 
.font-size-16 {font-size:16px !important;} 
.font-size-17 {font-size:17px !important;} 
.font-size-18 {font-size:18px !important;} 
.font-size-19 {font-size:19px !important;} 
.font-size-20 {font-size:20px !important;} 

/** Font Color **/
.cl-red {color:#ff5757 !important;} 
.cl-blue {color:#007bb5 !important;} 
.cl-skyblue {color:#3e8ef7 !important;}
.cl-gray {color:#9a9a9a !important;} 

/** 접근성 **/
.blind {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; clip:rect(0 0 0 0);} 

/** input **/
.input-group {display:inline-block;} 
input::placeholder {color:#666;} 
input:-ms-input-placeholder {color:#666;} 
textarea::placeholder {color:#666;} 
textarea:-ms-input-placeholder {color:#666} 

input[type=text],
input[type=password],
input[type=search],
input[type=tel],
input[type=email] {height:40px; padding:0 10px; border:1px solid #e1e1e1;} 
textarea {width:100%; margin:0; padding:10px; border:1px solid #e1e1e1; resize:none;} 

input[type=file] {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; clip:rect(0 0 0 0);} 
.file-btn {display:inline-block; margin-right:8px; padding:0 15px; border-radius:3px; border:1px solid #c5c5c5; background:#f7f7f7; line-height:25px; transition:all .3s;}
.file-btn:hover {background:#f1f1f1;}
.file-name {color:#666;}
input[type=file]:focus + .file-btn {border-radius:2px; outline:2px solid #000;}

/** selectbox **/
select {height:40px; padding:0 30px 0 10px; border:1px solid #e1e1e1; background:#fff url(../images/common/ico_select.svg) no-repeat center right 10px; cursor:pointer;} 
select::-ms-expand {display:none;} 

/** radio **/
input[type=radio] {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; clip:rect(0 0 0 0);} 
input[type=radio] + label {display:inline-block; position:relative; height:20px; padding-left:25px; line-height:18px;}
input[type=radio] + label::before {content:''; position:absolute; top:0; left:0; width:20px; height:20px; border-radius:50%; border:1px solid #BDBDBD; background:#fff;}
input[type=radio] + label::after {content:''; opacity:0; position:absolute; top:4px; left:4px; width:12px; height:12px; border-radius:50%; background:#589ccc;}
input[type=radio]:focus + label::before {outline:1px dotted #000;}
input[type=radio]:checked + label::after {opacity:1;}

.type-check > input[type=radio] + label::before {border-radius:2px;}
.type-check > input[type=radio] + label::after {position:absolute; top:6px; left:5px; width:11px; height:6px; border-radius:0; border-left:2px solid #fff; border-bottom:2px solid #fff; transform:rotate(-45deg);}
.type-check > input[type=radio]:checked + label::before {border-color:#589ccc; background:#589ccc;}

/** checkbox **/
input[type=checkbox] {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; clip:rect(0 0 0 0);} 
input[type=checkbox] + label {display:inline-block; position:relative; height:20px; padding-left:25px; line-height:18px;}
input[type=checkbox] + label::before {content:''; position:absolute; top:0; left:0; width:20px; height:20px; border-radius:2px; border:1px solid #BDBDBD; background:#fff;}
input[type=checkbox] + label::after {content:''; position:absolute; top:6px; left:5px; width:11px; height:6px; border-left:2px solid #fff; border-bottom:2px solid #fff; transform:rotate(-45deg);}
input[type=checkbox]:focus + label::before {outline:1px dotted #000;}
input[type=checkbox]:checked + label::before {border-color:#589ccc; background:#589ccc;}

/** button **/
.btn-wrap .btn + .btn {margin-left:10px;} 
.btn {display:inline-block; height:40px; padding:0 20px; border-radius:3px; background:#f0f0f0; font-size:16px; line-height:40px; color:#333; text-align:center; vertical-align:middle; transition:all .3s;} 
.btn.round {border-radius:25px;}
.btn.red {background:#ff5757; color:#fff;}
.btn.blue {background:#007bb5; color:#fff;}
.btn.skyblue {background:#3e8ef7; color:#fff;}
.btn.mint {background:#28c0de; color:#fff;}

.btn:hover,
.btn:active,
.btn:focus {background:#007bb5; color:#fff;} 
.btn.red:hover,
.btn.red:active,
.btn.red:focus {background:#e34d4d;} 
.btn.blue:hover,
.btn.blue:active,
.btn.blue:focus {background:#006a9c;} 
.btn.skyblue:hover,
.btn.skyblue:active,
.btn.skyblue:focus {background:#377edb;} 
.btn.mint:hover,
.btn.mint:active,
.btn.mint:focus {background:#24acc7;} 

@media screen and (max-width:767px) {
    .btn {font-size:14px;}
}

/** table **/
.basic-tbl {background:#fff;} 
.basic-tbl th,
.basic-tbl td {padding:15px 20px; border:1px solid #e0e0e0; text-align:center;}
.basic-tbl th {background:#666; color:#fff;} 

.list-tbl {border-top:2px solid #323a43; background:#fff;} 
.list-tbl th,
.list-tbl td {padding:15px 10px; border-bottom:1px solid #d4d4d4; text-align:center;}
.list-tbl th {background:#f9fbfc;} 
.list-tbl td {color:#212121;} 
.list-tbl td.tit {text-align:left;} 
.list-tbl td.tit a:hover,
.list-tbl td.tit a:active,
.list-tbl td.tit a:focus {text-decoration:underline;}
.list-tbl td i {font-size:18px;}