<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
    <meta name="author" content="수산교육포털" />
	<meta name="keywords" content="수산교육포털, 수산공익직불제, 조건불리지역 직불제, 경영이양 직불제, 수산자원보호 직불제, 친환경 수산물 생산지원직불제, 소규모어가 직불제, 어선원 직불제" />
    <meta name="description" content="수산업·어촌의 공익기능 증진을 위한 수산 공익직불제 교육" />
    <meta property="og:type" content="website" />
	<meta property="og:title" content="수산교육포털" />
	<meta property="og:description" content="수산업·어촌의 공익기능 증진을 위한 수산 공익직불제 교육" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <title>수산교육포털</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/common/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../../css/remixicon.css" />
    <link rel="stylesheet" type="text/css" href="../../css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../css/default.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/layout.css" />
    <link rel="stylesheet" type="text/css" href="../../css/content.css" />
    <link rel="stylesheet" type="text/css" href="../../css/board.css" />
    <script type="text/javascript" src="../../js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../js/slick.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
</head>