<div class="header-wrap">
    <h1 class="logo">
        <a href="../../web/main/index.html"><span class="blind">해양수산부 수산교육포털</span></a>
    </h1>
    <nav id="gnb">
        <ul class="menu">
            <li>
                <a href="">수산공익직불제 안내</a>
                <ul class="sub-menu">
                    <li><a href="../../web/guide/marinePublic.html">수산공익직불제</a></li>
                    <li><a href="../../web/guide/cndDsdvnArea.html">조건불리지역 직불제</a></li>
                    <li><a href="../../web/guide/gyungyang.html">경영이양 직불제</a></li>
                    <li><a href="../../web/guide/marnResrcePrtc.html">수산자원보호 직불제</a></li>
                    <li><a href="../../web/guide/evrfrndMprc.html">친환경 수산물 생산지원직불제</a></li>
                    <li><a href="../../web/guide/smallScaleFhrshs.html">소규모어가 직불제</a></li>
                    <li><a href="../../web/guide/cew.html">어선원 직불제</a></li>
                </ul>
            </li>
            <li>
                <a href="">교육과정 안내</a>
                <ul class="sub-menu">
                    <li><a href="../../web/curriculum/curriculumGuide.html">수산공익직불제 교육 안내</a></li>
                </ul>
            </li>
            <li>
                <a href="">교육수강</a>
                <ul class="sub-menu">
                    <li><a href="../../web/educenter/trnngList.html">교육수강일정 (온라인)</a></li>
                    <li><a href="">교육수강일정 (오프라인)</a></li>
                    <li><a href="../../web/common/error.html">나의강의실</a></li>
                    <li><a href="../../web/common/error.html">이수증출력</a></li>
                    <li><a href="https://www.113366.com/susanedu" target="_blank">원격지원서비스</a></li>
                </ul>
            </li>
            <li>
                <a href="">커뮤니티</a>
                <ul class="sub-menu">
                    <li><a href="../../web/community/noticeList.html">공지사항</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">교육 및 홍보자료</a></li>
                    <li><a href="">수산업 교육 정보</a></li>
                    <li><a href="">소식지</a></li>
                    <li><a href="">1:1 QnA</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="util">
        <ul class="util-list">
            <li class="item-search">
                <button type="button" class="btn-search" title="통합검색 열기"><span class="blind">통합검색 열기</span></button>
            </li>
            <li class="item-login">
                <a href="../../web/mber/login.html" class="btn-login"><span>로그인</span></a>
            </li>
            <li class="item-menu">
                <button type="button" class="btn-menu btn-sitemap" title="사이트맵 열기"><span class="blind">사이트맵 열기</span></button>
                <button type="button" class="btn-menu btn-mobile" title="전체메뉴 열기"><span class="blind">전체메뉴 열기</span></button>
            </li>
        </ul>
    </div>
    <div class="header-bg">
        <div class="title-wrap">
            <div class="txt-area"></div>
            <div class="img-area"></div>
        </div>
    </div>
</div>

<div id="search-modal">
    <div class="search">
        <input type="text" class="search-txt" placeholder="검색어를 입력하세요" title="통합검색" />
        <button type="button" class="search-btn" title="검색"><span class="blind">검색</span></button>
    </div>
</div>

<div id="menu-modal">
    <div id="sitemap">
        <div class="con-head">
            <h2 class="blind">사이트맵</h2>
            <button type="button" class="btn-close btn-sitemap-close" title="사이트맵 닫기"><i class="ri-close-line"></i><span class="blind">사이트맵 닫기</span></button>
        </div>
        <div class="con-body">
            <ul>
                <li>
                    <a href="">수산공익직불제 안내</a>
                    <ul>
                        <li><a href="../../web/guide/marinePublic.html">수산공익직불제</a></li>
                        <li><a href="../../web/guide/cndDsdvnArea.html">조건불리지역 직불제</a></li>
                        <li><a href="../../web/guide/gyungyang.html">경영이양 직불제</a></li>
                        <li><a href="../../web/guide/marnResrcePrtc.html">수산자원보호 직불제</a></li>
                        <li><a href="../../web/guide/evrfrndMprc.html">친환경 수산물 생산지원직불제</a></li>
                        <li><a href="../../web/guide/smallScaleFhrshs.html">소규모어가 직불제</a></li>
                        <li><a href="../../web/guide/cew.html">어선원 직불제</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">교육과정 안내</a>
                    <ul>
                        <li><a href="../../web/curriculum/curriculumGuide.html">수산공익직불제 교육 안내</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">교육수강</a>
                    <ul>
                        <li><a href="../../web/educenter/trnngList.html">교육수강일정 (온라인)</a></li>
                        <li><a href="">교육수강일정 (오프라인)</a></li>
                        <li><a href="../../web/common/error.html">나의강의실</a></li>
                        <li><a href="../../web/common/error.html">이수증출력</a></li>
                        <li><a href="https://www.113366.com/susanedu" target="_blank">원격지원서비스</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">커뮤니티</a>
                    <ul>
                        <li><a href="../../web/community/noticeList.html">공지사항</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">교육 및 홍보자료</a></li>
                        <li><a href="">수산업 교육 정보</a></li>
                        <li><a href="">소식지</a></li>
                        <li><a href="">1:1 QnA</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="con-foot">
            <span class="call">문의안내 1600-3256</span>
        </div>
    </div>
    <div id="mobile">
        <div class="con-head">
            <a href="../../web/main/index.html" class="logo"><img src="../../images/layout/logo_m.png" alt="해양수산부 수산교육포털" /></a>
            <button type="button" class="btn-close btn-mobile-close" title="전체메뉴 닫기"><i class="ri-close-line"></i><span class="blind">전체메뉴 닫기</span></button>
        </div>
        <div class="con-body">
            <ul class="mo-menu">
                <li>
                    <a href="">수산공익직불제 안내</a>
                    <ul class="mo-sub-menu">
                        <li><a href="../../web/guide/marinePublic.html">수산공익직불제</a></li>
                        <li><a href="../../web/guide/cndDsdvnArea.html">조건불리지역 직불제</a></li>
                        <li><a href="../../web/guide/gyungyang.html">경영이양 직불제</a></li>
                        <li><a href="../../web/guide/marnResrcePrtc.html">수산자원보호 직불제</a></li>
                        <li><a href="../../web/guide/evrfrndMprc.html">친환경 수산물 생산지원직불제</a></li>
                        <li><a href="../../web/guide/smallScaleFhrshs.html">소규모어가 직불제</a></li>
                        <li><a href="../../web/guide/cew.html">어선원 직불제</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">교육과정 안내</a>
                    <ul class="mo-sub-menu">
                        <li><a href="../../web/curriculum/curriculumGuide.html">수산공익직불제 교육 안내</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">교육수강</a>
                    <ul class="mo-sub-menu">
                        <li><a href="../../web/educenter/trnngList.html">교육수강일정 (온라인)</a></li>
                        <li><a href="">교육수강일정 (오프라인)</a></li>
                        <li><a href="../../web/common/error.html">나의강의실</a></li>
                        <li><a href="../../web/common/error.html">이수증출력</a></li>
                        <li><a href="https://www.113366.com/susanedu" target="_blank">원격지원서비스</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">커뮤니티</a>
                    <ul class="mo-sub-menu">
                        <li><a href="../../web/community/noticeList.html">공지사항</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">교육 및 홍보자료</a></li>
                        <li><a href="">수산업 교육 정보</a></li>
                        <li><a href="">소식지</a></li>
                        <li><a href="">1:1 QnA</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="con-foot">
            <span class="call">문의안내 <br><i class="ri-customer-service-2-fill"></i>1600-3256</span>
        </div>
    </div>
    <div class="bg"></div>
</div>



<!-- <div id="menu-all">
        <div class="con-head">
            <a href="../../web/main/index.html" class="logo"><img src="../../images/layout/logo_m.png" alt="해양수산부 수산교육포털" /></a>
            <button type="button" class="btn-close btn-sitemap-close" title="사이트맵 닫기"><i class="ri-close-line"></i><span class="blind">사이트맵 닫기</span></button>
            <button type="button" class="btn-close btn-mobile-close" title="전체메뉴 닫기"><i class="ri-close-line"></i><span class="blind">전체메뉴 닫기</span></button>
        </div>
        <div class="con-body">
            <ul class="">
                <li>
                    <a href="">수산공익직불제 안내</a>
                    <ul>
                        <li><a href="../../web/guide/marinePublic.html">수산공익직불제</a></li>
                        <li><a href="../../web/guide/cndDsdvnArea.html">조건불리지역 직불제</a></li>
                        <li><a href="../../web/guide/gyungyang.html">경영이양 직불제</a></li>
                        <li><a href="../../web/guide/marnResrcePrtc.html">수산자원보호 직불제</a></li>
                        <li><a href="../../web/guide/evrfrndMprc.html">친환경 수산물 생산지원직불제</a></li>
                        <li><a href="../../web/guide/smallScaleFhrshs.html">소규모어가 직불제</a></li>
                        <li><a href="../../web/guide/cew.html">어선원 직불제</a></li>
                    </ul>
                    <div class="img-box char01"></div>
                </li>
                <li>
                    <a href="">교육과정 안내</a>
                    <ul>
                        <li><a href="../../web/curriculum/curriculumGuide.html">수산공익직불제 교육 안내</a></li>
                    </ul>
                    <div class="img-box char02"></div>
                </li>
                <li>
                    <a href="">교육수강</a>
                    <ul>
                        <li><a href="../../web/educenter/trnngList.html">교육수강일정 (온라인)</a></li>
                        <li><a href="">교육수강일정 (오프라인)</a></li>
                        <li><a href="../../web/common/error.html">나의강의실</a></li>
                        <li><a href="../../web/common/error.html">이수증출력</a></li>
                        <li><a href="https://www.113366.com/susanedu" target="_blank">원격지원서비스</a></li>
                    </ul>
                    <div class="img-box char03"></div>
                </li>
                <li>
                    <a href="">커뮤니티</a>
                    <ul>
                        <li><a href="../../web/community/noticeList.html">공지사항</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">교육 및 홍보자료</a></li>
                        <li><a href="">수산업 교육 정보</a></li>
                        <li><a href="">소식지</a></li>
                        <li><a href="">1:1 QnA</a></li>
                    </ul>
                    <div class="img-box char04"></div>
                </li>
            </ul>
        </div>
        <div class="con-foot">
            <p class="call">문의안내 <br><i class="ri-customer-service-2-fill"></i>1600-3256</p>
        </div>
    </div> -->

    <!-- <div id="menu-all-wrap">
        <div id="menu-all">
            <a href="" class="close-btn"><i class="ri-close-line"></i></a>
            <h2 class="blind">사이트맵</h2>
            <ul>
                <li>
                    <a href="">수산공익직불제 안내</a>
                    <ul>
                        <li><a href="../../web/guide/marinePublic.html">수산공익직불제</a></li>
                        <li><a href="../../web/guide/cndDsdvnArea.html">조건불리지역 직불제</a></li>
                        <li><a href="../../web/guide/gyungyang.html">경영이양 직불제</a></li>
                        <li><a href="../../web/guide/marnResrcePrtc.html">수산자원보호 직불제</a></li>
                        <li><a href="../../web/guide/evrfrndMprc.html">친환경 수산물 생산지원직불제</a></li>
                        <li><a href="../../web/guide/smallScaleFhrshs.html">소규모어가 직불제</a></li>
                        <li><a href="../../web/guide/cew.html">어선원 직불제</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">교육과정 안내</a>
                    <ul>
                        <li><a href="../../web/curriculum/curriculumGuide.html">수산공익직불제 교육 안내</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">교육수강</a>
                    <ul>
                        <li><a href="../../web/educenter/trnngList.html">교육수강일정 (온라인)</a></li>
                        <li><a href="">교육수강일정 (오프라인)</a></li>
                        <li><a href="../../web/common/error.html">나의강의실</a></li>
                        <li><a href="../../web/common/error.html">이수증출력</a></li>
                        <li><a href="https://www.113366.com/susanedu" target="_blank">원격지원서비스</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">커뮤니티</a>
                    <ul>
                        <li><a href="../../web/community/noticeList.html">공지사항</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">교육 및 홍보자료</a></li>
                        <li><a href="">수산업 교육 정보</a></li>
                        <li><a href="">소식지</a></li>
                        <li><a href="">1:1 QnA</a></li>
                    </ul>
                </li>
            </ul>
            <span class="call">문의안내 1600-3256</span>
        </div>
    </div> -->

    <!-- <div id="totalMb">
        <ul class="mGnb">
            <li>
                <a href="">수산공익직불제</a>
                <ul>
                    <li><a href="../../web/guide/marinePublic.html">수산공익직불제</a></li>
                    <li><a href="../../web/guide/cndDsdvnArea.html">조건불리지역 직불제</a></li>
                    <li><a href="../../web/guide/gyungyang.html">경영이양 직불제</a></li>
                    <li><a href="../../web/guide/marnResrcePrtc.html">수산자원보호 직불제</a></li>
                    <li><a href="../../web/guide/evrfrndMprc.html">친환경 수산물 생산지원직불제</a></li>
                    <li><a href="../../web/guide/smallScaleFhrshs.html">소규모어가 직불제</a></li>
                    <li><a href="../../web/guide/cew.html">어선원 직불제</a></li>
                </ul>
                <div class="img-box char01"></div>
            </li>
            <li>
                <a href="">교육과정</a>
                <ul>
                    <li><a href="../../web/curriculum/curriculumGuide.html">수산공익직불제 교육 안내</a></li>
                </ul>
                <div class="img-box char02"></div>
            </li>
            <li>
                <a href="">교육수강</a>
                <ul>
                    <li><a href="../../web/educenter/trnngList.html">교육수강일정 (온라인)</a></li>
                    <li><a href="">교육수강일정 (오프라인)</a></li>
                    <li><a href="../../web/common/error.html">나의강의실</a></li>
                    <li><a href="../../web/common/error.html">이수증출력</a></li>
                    <li><a href="https://www.113366.com/susanedu" target="_blank">원격지원서비스</a></li>
                </ul>
                <div class="img-box char03"></div>
            </li>
            <li>
                <a href="">커뮤니티</a>
                <ul>
                    <li><a href="../../web/community/noticeList.html">공지사항</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">교육 및 홍보자료</a></li>
                    <li><a href="">수산업 교육 정보</a></li>
                    <li><a href="">소식지</a></li>
                    <li><a href="">1:1 QnA</a></li>
                </ul>
                <div class="img-box char04"></div>
            </li>
        </ul>
    </div> -->
    <!-- <div class="search-box">
        <div class="wrap">
            <div class="popular-search-word">
                <strong>자주 찾는 검색어</strong>
                <ul>
                    <li><a href=""><span>1.</span>수산공익직불제교육</a></li>
                    <li><a href=""><span>2.</span>회원가입</a></li>
                    <li><a href=""><span>3.</span>수산공익직불제강의</a></li>
                    <li><a href=""><span>4.</span>교육</a></li>
                    <li><a href=""><span>5.</span>2022년 공익직불제</a></li>
                </ul>
            </div>
    
            <div class="search-area">
                <div class="search">
                    <input type="text" class="search-txt" placeholder="검색어를 입력하세요" title="통합검색" />
                    <button type="button" class="search-btn" title="검색"><span class="blind">검색</span></button>
                </div>
                <div class="recent-search-word">
                    <strong>최근 검색어</strong>
                    <ul>
                        <li><a href="">수산공익직불제교육</a></li>
                        <li><a href="">회원가입</a></li>
                        <li><a href="">수산공익직불제강의</a></li>
                        <li><a href="">교육</a></li>
                        <li><a href="">2022년 공익직불제</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->