<body>
    <div id="skip"></div>
    <div id="wrap">
        <!-- s : header -->
        <header id="header"></header>
        <!-- e : header -->

        <!-- s : container -->
        <main id="container">

            <!-- s : 만족도 조사 -->
            <div class="satis-survey"></div>
            <!-- e : 만족도 조사 -->
        </main>
        <!-- e : container -->

        <!-- s : footer -->
        <footer id="footer"></footer>
        <!-- e : footer -->
    </div>
</body>

<!-- 검색창 -->
<div class="search">
    <input type="text" class="search-txt" placeholder="검색어를 입력하세요" title="검색어 입력" />
    <button type="button" class="search-btn" title="검색"><span class="blind">검색</span></button>
</div>