<div class="txt-area">
    <strong>이 페이지에서 제공하는 정보에 대하여 만족하십니까?</strong>
    <p>여러분의 참여가 사이트를 개선하는데 많은 도움이 됩니다.</p>
</div>
<div class="satis-area">
    <ul class="satis-list">
        <li>
            <input type="radio" name="star-point" id="point-5" checked />
            <label for="point-5">매우 만족<img src="../../images/content/common/img_star05.png" alt="별 5개" /></label>
        </li>
        <li>
            <input type="radio" name="star-point" id="point-4" />
            <label for="point-4">만족<img src="../../images/content/common/img_star04.png" alt="별 4개" /></label>
        </li>
        <li>
            <input type="radio" name="star-point" id="point-3" />
            <label for="point-3">보통<img src="../../images/content/common/img_star03.png" alt="별 3개" /></label>
        </li>
        <li>
            <input type="radio" name="star-point" id="point-2" />
            <label for="point-2">불만족<img src="../../images/content/common/img_star02.png" alt="별 2개" /></label>
        </li>
        <li>
            <input type="radio" name="star-point" id="point-1" />
            <label for="point-1">매우 불만족<img src="../../images/content/common/img_star01.png" alt="별 1개" /></label>
        </li>
    </ul>
    <button type="submit" class="btn blue">참여</button>
</div>